{% extends 'base.html' %}
{% block content %}
	<main class="main-content">
	<div class="fullwidth-block">
		<div class="container">
			<div class="row">
				<div class="content col-md-8">
					<h2 class="section-title">Upcoming Events</h2>
					<ul class="event-list large">
					{% for event in object_list%}
						<li>
							<h3 class="event-title"><a href="#">{{ event.name }}</a></h3>
							<span class="event-meta">
								<span><i class="fa fa-calendar"></i>{{ event.date }}</span>
								<span><i class="fa fa-map-marker"></i>{{ event.location }}</span>
							</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque recusandae rerum alias veniam nisi repellat, libero molestias praesentium dolore harum quisquam quam dolorum repudiandae et, earum doloremque repellendus fugiat ab.</p>
							<a href="#" class="button">Join to this event</a>
							<a href="#" class="button secondary">Ask a question</a>
						</li>
						{% endfor %}
				</div>
				<div class="sidebar col-md-3 col-md-offset-1">
					<div class="widget">
						<h3 class="widget-title">Categories</h3>
						<ul class="arrow">
							<li><a href="#">Perspiciatis unde</a></li>
							<li><a href="#">Omnis iste natus</a></li>
							<li><a href="#">Voluptatem accusantium</a></li>
							<li><a href="#">Doloremque eaque</a></li>
							<li><a href="#">Totam rem aperiam</a></li>
						</ul>
					</div>

					<div class="widget">
						<h3 class="widget-title">Donations</h3>
						<p>Distinctio unde consequuntur delectus, repudiandae, impedit atque earum adipisci, explicabo perferendis.</p>
						<a href="#" class="button">Make a donation</a>
					</div>

					<div class="widget">
						<h3 class="widget-title">Gallery updates</h3>

						<div class="galery-thumb">
							<a href="#"><img src="images/gallery-thumb-1.jpg" alt=""></a>
							<a href="#"><img src="images/gallery-thumb-2.jpg" alt=""></a>
							<a href="#"><img src="images/gallery-thumb-3.jpg" alt=""></a>
							<a href="#"><img src="images/gallery-thumb-4.jpg" alt=""></a>
							<a href="#"><img src="images/gallery-thumb-5.jpg" alt=""></a>
							<a href="#"><img src="images/gallery-thumb-6.jpg" alt=""></a>
						</div>
					</div>

					<div class="widget">
						<h3 class="widget-title">Text widget </h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aliquam obcaecati velit, atque necessitatibus molestias ullam tempore itaque quidem sequi ea sed consectetur, eligendi cupiditate saepe! Hic veniam maiores explicabo.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
				</main> <!-- .main-content -->
{% endblock content %}